* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --back-color: #FAFAFA;
    --back-white-color: #ffffff;
    --back-orange-color: #FCF5EC;
    --btn-main-back-color: #FF8D28;
    --back-darker-grey: #EAEAEA;
    --font-white-color: #ffffff;
    --font-color-blue: #1782FD;
    --font-color-grey: #808080;
    --font-color-black: #000000;
    --font-color-orange: #F48023;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    min-height: 100vh;
    background-color: var(--back-color);
}
/* header */
.header{
    width: 100%;
    max-width: 1440px;
    padding: 23px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--back-white-color);
}
.header-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.logo{
    width: 50px;
    height: auto;
}

/* buttons */
.main_btn{
    display: block;
    padding: 12px 20px;
    color: var(--font-white-color);
    font-size: 1.1rem;
    text-decoration: none;
    background-color: var(--btn-main-back-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.shadow_btn{
    padding: 12px 20px;
    color: var(--font-color-blue);
    font-size: 1.1rem;
    background-color: var(--back-darker-grey);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.blue_empty_btn{
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
    color: var(--font-color-blue);
    cursor: pointer;
}
.input{
    font-size: 1.2rem;
    color: var(--font-color-grey);
    border: 2px solid var(--back-darker-grey);
    border-radius: 3px;
}
.input:focus{
    outline: 2px solid var(--btn-main-back-color);
}

/* main */
.main{
    flex-grow: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 75%;
    column-gap: 5%;
    grid-template-rows: 1fr;
}
/* sidebar */
.sidebar{
    width: 100%;
    height: 100%;
    padding: 45px 0;
    background-color: var(--back-white-color);
}
.nav_title{
    margin-bottom: 10px;
    padding-left: 50px;
    color: var(--font-color-grey);
    font-size: 1rem;
}
.nav-list_item{
    display: block;
    position: relative;
    margin-bottom: 10px;
    padding: 25px 50px;
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color-black);
    font-size: 1.2rem;
    transition: background .3s ease-out;
}
.nav-list_item::before{
    content: "";
    width: 5px;
    height: 100%;
    background-color: var(--btn-main-back-color);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}
.nav-list li.choosed .nav-list_item{
    background-color: var(--back-orange-color);
    color: var(--font-color-orange);
}
.nav-list li.choosed .nav-list_item::before{
    opacity: 1;
}

/* tags */
.tags{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 40px;
}
.tags_item{
    padding: 8px 17px;
    background-color: var(--back-darker-grey);
    color: var(--font-color-grey);
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    border-radius: 25px;
}
.tags_item.choosed{
    background-color: var(--font-color-blue);
    color: var(--font-white-color);
}
/* posts */
.posts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}
.post,
.comment{
    width: 90%;
    padding: 30px;
    border-radius: 5px;
    background-color: var(--back-white-color);
}
.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}
.image-container{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.author_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.username{
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 6px;
    color: var(--font-color-black)
}
.date{
    font-size: 1rem;
    color: var(--font-color-grey);
}
.post_title{
    width: 100%;
    text-wrap: wrap;
    font-size: 1.3rem;
    line-height: 1.05;
    color: var(--font-color-black);
}
.post-footer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.post-footer .tags{
    margin: 30px 0 0 0;
}
.post-footer .tags_item{
    cursor: auto;
    font-size: 0.9rem;
    border-radius: 10px;
}
.stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.stats p,
.stats button{
    position: relative;
    padding-left: 27px;
    font-size: 1.2rem;
    color: var(--font-color-grey);
    border: none;
    background-color: transparent;
}
.stats p::before,
.stats button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 25px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.post_comments::before,
.comments::before{
    background-image: url(../imgs/icons/comment.png);
}
.post_likes::before,
.likes::before{
    transform: scaleY(-1);
    background-image: url(../imgs/icons/down.png);
}

/* post inside and comments */
.post-inside{
    padding: 50px 0;
}
.post-inside .comment{
    padding-left: 50px;
    position: relative;
    box-shadow: var(--shadow);
}
.description{
    width: 90%;
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.2;
}
.comment .stats button{
    cursor: pointer;
}
.comment .stats .dislikes::before{
    top: 4px;
    background-image: url(../imgs/icons/down.png);
}
.dislikes.choosed,
.likes.choosed{
    color: var(--font-color-orange);
}
.comments_title{
    margin: 25px 0;
    width: 100%;
    text-align: center;
    color: var(--font-color-grey);
    font-weight: bold;
    font-size: 1.3rem;
}
.comment:not(.init){
    margin-top: 30px;
}
.message{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    width: 90%;
    padding: 35px 35px 35px 50px;
    background-color: var(--back-white-color);
}
.message_field{
    width: 100%;
    padding: 25px;
    resize: none;
}
.comment:not(.init)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
}
.comment:not(.init):nth-child(2n)::before{
    background-color: var(--btn-main-back-color);
}
.comment:not(.init):nth-child(2n+1)::before{
    background-color: var(--font-color-blue);
}
.comment .post-footer{
    margin-top: 20px;
    padding-top: 15px;
    border-top: 2px solid var(--back-darker-grey);
}

/* form to publish post */
.newPost{
    margin-top: 50px;
    width: 90%;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 35px;
    background-color: var(--back-white-color);
    box-shadow: var(--shadow);
}
.newPost .input{
    width: 80%;
    padding: 8px 20px;
}
.newPost textarea.input{
    height: 250px;
}
.newPost .btn-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

/* hovers */
@media (hover: hover) {
    .nav-list li:hover  .nav-list_item{
        background-color: var(--back-orange-color);
        color: var(--font-color-orange);
    }
    .nav-list li:hover .nav-list_item::before{
        opacity: 1;
    }
    .main-section>.tags .tags_item:hover{
        background-color: var(--font-color-blue);
        color: var(--font-white-color);
    }
    .comment .stats button:hover{
        color: var(--font-color-orange);
    }
}